# Pandas: Dataset

In [3]:
import pandas as pd

In [4]:
retail_data = pd.read_csv('Online_Retail.csv', encoding='latin1')
# Excel
# real_data = pd.read_csv('Online_Retail.csv', encoding='latin1')

# JSON
# data_json = pd.read_json(path)
# print(type(retail_data))
print(retail_data)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

          InvoiceDate  UnitPrice  CustomerID         Country
0        12/1/10 8:26       2.55     17850.0  United Kingdom
1        12/1/10 8:26       3.39     17850.0  United Kingdom
2        12/1/10 8:26       2.75     17850.0  United Kingdom
3        12/1/10 8:26       3.39     17850.0  United Kingdom
4        12/1/10 8:26       3.39     17850.0  United Kingdom
...               ...        ...         ...             ...
541904  12/9/11 12:50       0.85     12680.0          France
541905  12/9/11 12:50       2.10     12680.0          France
541906  12/9/11 12:50       4.15     12680.0          France
541907  12/9/11 12:50       4.15     12680.0          France
541908  12/9/11 12:50       4.95     12680.0          France

[541909 rows x 8 columns]

# DataFrames en Pandas
es una estructura de datos bidimensional semiestructural similar a una tabla, a una base de datos o una hoja de calculo de excel, contiene filas y tambien columnas, donde cada columna puede tener un tipo de dato diferente lo qeu lko hace ideal para el analisis de datos.

In [5]:
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [7]:
import numpy as np

data = np.array([[1,2,3],[4,5,6],[7,8,9]])
dt_from_array = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(dt_from_array)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [9]:
data = [[1, 'Jhon', 22],[2, 'Jane', 23],[3, 'Doe', 24]]
df_from_list = pd.DataFrame(data, columns=['ID', 'Name', 'Age'])
print(df_from_list)

   ID  Name  Age
0   1  Jhon   22
1   2  Jane   23
2   3   Doe   24

In [ ]:
data = [{'ID': 1,
         'Name': 'Jhon',
         'Age': 22},{
            'ID': 2,
            'Name': 'Jane',
            'Age': 23
            }]

dt_from_dict_list = pd.DataFrame(data)
print(dt_from_dict_list)

   ID  Name  Age
0   1  Jhon   22
1   2  Jane   23

In [14]:
data = {'ID': [1,2,3], 'Name': ['Jhon', 'Jane', 'Doe'], 'Age': [22, 23, 24]}
dt_from_dict = pd.DataFrame(data)
print(dt_from_dict)

   ID  Name  Age
0   1  Jhon   22
1   2  Jane   23
2   3   Doe   24

# Descomponer DataFrame

## Serie

In [16]:
data = {'ID': pd.Series([1,2,3]), 'Name': pd.Series(['Jhon', 'Jane', 'Doe']), 'Age': pd.Series([22, 23, 24])}
dt_from_dict_series = pd.DataFrame(data)
print(dt_from_dict_series)

   ID  Name  Age
0   1  Jhon   22
1   2  Jane   23
2   3   Doe   24