# Estructuras y funciones

In [1]:
import pandas as pd

In [4]:
retail_data = pd.read_csv('Online_Retail.csv ', encoding='latin1')
print(retail_data.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [ ]:
# Nombres de columnas
colums_name = retail_data.columns
print(colums_name)

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [7]:
# Dimension
num_rows, num_columns = retail_data.shape
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Number of rows: 541909
Number of columns: 8

In [9]:
# Tomar un acolumna Especifica
daily_sales = retail_data['Quantity']
print(daily_sales)
print(daily_sales[2])

0          6
1          6
2          8
3          6
4          6
          ..
541904    12
541905     6
541906     4
541907     4
541908     3
Name: Quantity, Length: 541909, dtype: int64
8

## Descripcion

In [10]:
sumary = retail_data.describe()
print(sumary)

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [11]:
mean_value = daily_sales.mean()
print(f"Mean value: {mean_value}")

Mean value: 9.55224954743324

In [13]:
median_value = daily_sales.median()
print(f"median value: {median_value}")

median value: 3.0

In [15]:
sum_values = daily_sales.sum()
print(f"La suma total es: {sum_values}")

La suma total es: 5176450

In [16]:
count_values = daily_sales.count()
print(f"El conteo total es: {count_values}")

El conteo total es: 541909

# Metodo Get

In [19]:
retail_data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom

## Otra columna

In [20]:
other_sales = retail_data['UnitPrice']
print(other_sales)

0         2.55
1         3.39
2         2.75
3         3.39
4         3.39
          ...
541904    0.85
541905    2.10
541906    4.15
541907    4.15
541908    4.95
Name: UnitPrice, Length: 541909, dtype: float64

In [23]:
descriptions_sales = other_sales.describe()
print(descriptions_sales)

count    541909.000000
mean          4.611114
std          96.759853
min      -11062.060000
25%           1.250000
50%           2.080000
75%           4.130000
max       38970.000000
Name: UnitPrice, dtype: float64

In [24]:
mean_other = other_sales.mean()
print(f"Mean value: {mean_other}")
median_other = other_sales.median()
print(f"median value: {median_other}")
sum_other = other_sales.sum()
print(f"La suma total es: {sum_other}")
count_other = other_sales.count()
print(f"El conteo total es: {count_other}")

Mean value: 4.611113626088513
median value: 2.08
La suma total es: 2498803.974
El conteo total es: 541909

In [25]:
other_sales.head()

0    2.55
1    3.39
2    2.75
3    3.39
4    3.39
Name: UnitPrice, dtype: float64