# Pivot tables
Restauraci√≥n de datos: Pivot y Reshape en Pandas

In [2]:
import pandas as pd

sales_data = pd.read_csv('Online_Retail.csv', encoding='latin1')

In [ ]:
povit_table = pd.pivot_table(sales_data, values = 'Quantity', index = 'Country', columns = 'StockCode', aggfunc = 'sum')

print(povit_table)

StockCode             10002  10080  10120  10123C  10123G  10124A  10124G  \
Country
Australia               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Austria                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Bahrain                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Belgium                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Brazil                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Canada                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Channel Islands         NaN    NaN    NaN     NaN     NaN     NaN     NaN
Cyprus                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Czech Republic          NaN    NaN    NaN     NaN     NaN     NaN     NaN
Denmark                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
EIRE                   12.0    NaN    NaN     NaN     NaN     NaN     NaN
European Community      NaN    NaN    NaN     NaN     NaN     NaN     NaN
Finland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
France                372.0    NaN   10.0     NaN     NaN     NaN     NaN
Germany                 1.0    NaN    NaN     NaN     NaN     NaN     NaN
Greece                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Hong Kong               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Iceland                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Israel                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Italy                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Japan                   1.0    NaN    NaN     NaN     NaN     NaN     NaN
Lebanon                 NaN    NaN    NaN     NaN     NaN     NaN     NaN
Lithuania               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Malta                   NaN    NaN    NaN     NaN     NaN     NaN     NaN
Netherlands             NaN    NaN    NaN     NaN     NaN     NaN     NaN
Norway                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Poland                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Portugal                NaN    NaN    NaN     NaN     NaN     NaN     NaN
RSA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
Saudi Arabia            NaN    NaN    NaN     NaN     NaN     NaN     NaN
Singapore               NaN    NaN    NaN     NaN     NaN     NaN     NaN
Spain                  24.0    NaN    NaN     NaN     NaN     NaN     NaN
Sweden                  NaN    NaN    NaN     NaN     NaN     NaN     NaN
Switzerland            12.0    NaN    NaN     NaN     NaN     NaN     NaN
USA                     NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Arab Emirates    NaN    NaN    NaN     NaN     NaN     NaN     NaN
United Kingdom        615.0  495.0  183.0   -13.0   -38.0    16.0    17.0
Unspecified             NaN    NaN    NaN     NaN     NaN     NaN     NaN

StockCode             10125   10133  10134  ...       M  PADS    POST     S  \
Country                                     ...
Australia               NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Austria                 NaN     NaN    NaN  ...     NaN   NaN    37.0   NaN
Bahrain                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Belgium                 NaN     NaN    NaN  ...     NaN   NaN   272.0   NaN
Brazil                  NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Canada                  NaN    40.0    NaN  ...     NaN   NaN     1.0   NaN
Channel Islands         NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Cyprus                  NaN     NaN    NaN  ...     0.0   NaN     1.0   NaN
Czech Republic          NaN     NaN    NaN  ...     NaN   NaN     0.0   NaN
Denmark                 NaN     NaN    NaN  ...     NaN   NaN    41.0   NaN
EIRE                    NaN    40.0    NaN  ...    -2.0   NaN     NaN   NaN
European Community      NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Finland                 NaN     NaN    NaN  ...     2.0   NaN    89.0   NaN
France                470.0     NaN    NaN  ...   -16.0   NaN   803.0   NaN
Germany               120.0     NaN    NaN  ...     2.0   NaN  1104.0   NaN
Greece                  NaN     NaN    NaN  ...     NaN   NaN     6.0   NaN
Hong Kong               NaN     NaN    NaN  ...     0.0   NaN     2.0   NaN
Iceland                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Israel                  NaN    20.0    NaN  ...     NaN   NaN     NaN   NaN
Italy                   NaN     NaN    NaN  ...    -1.0   NaN    44.0   NaN
Japan                   NaN     NaN    NaN  ...    -3.0   NaN     NaN   NaN
Lebanon                 NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Lithuania               NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Malta                   NaN     NaN    NaN  ...     NaN   NaN    10.0   NaN
Netherlands             NaN     NaN    NaN  ...  -480.0   NaN    99.0   NaN
Norway                  NaN     NaN    NaN  ...     0.0   NaN    57.0   NaN
Poland                  NaN     NaN    NaN  ...     NaN   NaN     9.0   NaN
Portugal                NaN    20.0    NaN  ...     1.0   NaN    97.0   NaN
RSA                     NaN     NaN    NaN  ...     1.0   NaN     NaN   NaN
Saudi Arabia            NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
Singapore               NaN     NaN    NaN  ...     0.0   NaN     NaN   NaN
Spain                   NaN     NaN    NaN  ...    -3.0   NaN   209.0   NaN
Sweden                  NaN     NaN    NaN  ...     1.0   NaN    37.0   NaN
Switzerland            20.0    10.0    NaN  ...     NaN   NaN    97.0   NaN
USA                     NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN
United Arab Emirates    NaN     NaN    NaN  ...     NaN   NaN     1.0   NaN
United Kingdom        686.0  2645.0  -19.0  ...  3662.0   4.0  3328.0 -59.0
Unspecified             NaN     NaN    NaN  ...     NaN   NaN     NaN   NaN

StockCode             gift_0001_10  gift_0001_20  gift_0001_30  gift_0001_40  \
Country
Australia                      NaN           NaN           NaN           NaN
Austria                        NaN           NaN           NaN           NaN
Bahrain                        NaN           NaN           NaN           NaN
Belgium                        NaN           NaN           NaN           NaN
Brazil                         NaN           NaN           NaN           NaN
Canada                         NaN           NaN           NaN           NaN
Channel Islands                NaN           NaN           NaN           NaN
Cyprus                         NaN           NaN           NaN           NaN
Czech Republic                 NaN           NaN           NaN           NaN
Denmark                        NaN           NaN           NaN           NaN
EIRE                           NaN           NaN           NaN           NaN
European Community             NaN           NaN           NaN           NaN
Finland                        NaN           NaN           NaN           NaN
France                         NaN           NaN           NaN           NaN
Germany                        NaN           NaN           NaN           NaN
Greece                         NaN           NaN           NaN           NaN
Hong Kong                      NaN           NaN           NaN           NaN
Iceland                        NaN           NaN           NaN           NaN
Israel                         NaN           NaN           NaN           NaN
Italy                          NaN           NaN           NaN           NaN
Japan                          NaN           NaN           NaN           NaN
Lebanon                        NaN           NaN           NaN           NaN
Lithuania                      NaN           NaN           NaN           NaN
Malta                          NaN           NaN           NaN           NaN
Netherlands                    NaN           NaN           NaN           NaN
Norway                         NaN           NaN           NaN           NaN
Poland                         NaN           NaN           NaN           NaN
Portugal                       NaN           NaN           NaN           NaN
RSA                            NaN           NaN           NaN           NaN
Saudi Arabia                   NaN           NaN           NaN           NaN
Singapore                      NaN           NaN           NaN           NaN
Spain                          NaN           NaN           NaN           NaN
Sweden                         NaN           NaN           NaN           NaN
Switzerland                    NaN           NaN           NaN           NaN
USA                            NaN           NaN           NaN           NaN
United Arab Emirates           NaN           NaN           NaN           NaN
United Kingdom                39.0          20.0          37.0           3.0
Unspecified                    NaN           NaN           NaN           NaN

StockCode             gift_0001_50    m
Country
Australia                      NaN  NaN
Austria                        NaN  NaN
Bahrain                        NaN  NaN
Belgium                        NaN  NaN
Brazil                         NaN  NaN
Canada                         NaN  NaN
Channel Islands                NaN  NaN
Cyprus                         NaN  NaN
Czech Republic                 NaN  NaN
Denmark                        NaN  NaN
EIRE                           NaN  NaN
European Community             NaN  NaN
Finland                        NaN  NaN
France                         NaN  NaN
Germany                        NaN  NaN
Greece                         NaN  NaN
Hong Kong                      NaN  NaN
Iceland                        NaN  NaN
Israel                         NaN  NaN
Italy                          NaN  NaN
Japan                          NaN  NaN
Lebanon                        NaN  NaN
Lithuania                      NaN  NaN
Malta                          NaN  NaN
Netherlands                    NaN  NaN
Norway                         NaN  NaN
Poland                         NaN  NaN
Portugal                       NaN  NaN
RSA                            NaN  NaN
Saudi Arabia                   NaN  NaN
Singapore                      NaN  NaN
Spain                          NaN  NaN
Sweden                         NaN  NaN
Switzerland                    NaN  NaN
USA                            NaN  NaN
United Arab Emirates           NaN  NaN
United Kingdom                 4.0  1.0
Unspecified                    NaN  NaN

[38 rows x 4070 columns]

In [5]:
df = pd.DataFrame({
    'A': ['foo', 'bar', 'baz'],
    'B': [1, 2, 3],
    'C': [4, 5, 6]
})
print(df)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [8]:
df_stacked = df.stack()
print(df_stacked)

0  A    foo
   B      1
   C      4
1  A    bar
   B      2
   C      5
2  A    baz
   B      3
   C      6
dtype: object

In [9]:
df_unstacked = df_stacked.unstack()
print(df_unstacked)

     A  B  C
0  foo  1  4
1  bar  2  5
2  baz  3  6

In [10]:
df_sales_stacked = sales_data.stack()
print(df_sales_stacked)

0       InvoiceNo                                  536365
        StockCode                                  85123A
        Description    WHITE HANGING HEART T-LIGHT HOLDER
        Quantity                                        6
        InvoiceDate                          12/1/10 8:26
                                      ...
541908  Quantity                                        3
        InvoiceDate                         12/9/11 12:50
        UnitPrice                                    4.95
        CustomerID                                12680.0
        Country                                    France
Length: 4198738, dtype: object

In [11]:
df_sales_unstacked = df_sales_stacked.unstack()
print(df_sales_unstacked)

       InvoiceNo StockCode                          Description Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER        6
1         536365     71053                  WHITE METAL LANTERN        6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER        8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE        6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.        6
...          ...       ...                                  ...      ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS       12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL         6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL         4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE        4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT         3

          InvoiceDate UnitPrice CustomerID         Country
0        12/1/10 8:26      2.55    17850.0  United Kingdom
1        12/1/10 8:26      3.39    17850.0  United Kingdom
2        12/1/10 8:26      2.75    17850.0  United Kingdom
3        12/1/10 8:26      3.39    17850.0  United Kingdom
4        12/1/10 8:26      3.39    17850.0  United Kingdom
...               ...       ...        ...             ...
541904  12/9/11 12:50      0.85    12680.0          France
541905  12/9/11 12:50       2.1    12680.0          France
541906  12/9/11 12:50      4.15    12680.0          France
541907  12/9/11 12:50      4.15    12680.0          France
541908  12/9/11 12:50      4.95    12680.0          France

[541909 rows x 8 columns]

# Merge, Concat y Join

In [13]:
# crear un dataframe de ejemplo
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value1': [1, 2, 3],
})

df2 = pd.DataFrame({
    'key': ['B', 'C', 'D'],
    'value2': [4, 5, 6],
})

print(df1)
print(df2)

  key  value1
0   A       1
1   B       2
2   C       3
  key  value2
0   B       4
1   C       5
2   D       6

In [15]:
inner_merge = pd.merge(df1, df2, on='key', how='inner')
print(inner_merge)

  key  value1  value2
0   B       2       4
1   C       3       5

In [17]:
outer_merged = pd.merge(df1, df2, on='key', how='outer')
print(outer_merged)

  key  value1  value2
0   A     1.0     NaN
1   B     2.0     4.0
2   C     3.0     5.0
3   D     NaN     6.0

In [18]:
left_merged = pd.merge(df1, df2, on='key', how='left')
print(left_merged)

  key  value1  value2
0   A       1     NaN
1   B       2     4.0
2   C       3     5.0

In [19]:
right_merged = pd.merge(df1, df2, on='key', how='right')
print(right_merged)

  key  value1  value2
0   B     2.0       4
1   C     3.0       5
2   D     NaN       6

Concat

In [20]:
df3 = pd.DataFrame({
    'A': ['A0', 'A1',  'A2'],
    'B': ['B0', 'B1', 'B2'],
})

df4 = pd.DataFrame({
    'A': ['A3', 'A4',  'A5'],
    'B': ['B3', 'B4', 'B5'],
})

print(df3)
print(df4)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
    A   B
0  A3  B3
1  A4  B4
2  A5  B5

In [21]:
vertical_concat = pd.concat([df3, df4])
print(vertical_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
0  A3  B3
1  A4  B4
2  A5  B5

In [22]:
hotizontal_concat = pd.concat([df3, df4], axis=1)
print(hotizontal_concat)

    A   B   A   B
0  A0  B0  A3  B3
1  A1  B1  A4  B4
2  A2  B2  A5  B5

Join

In [33]:
df5 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
  }, 
  index = ['K0', 'K1', 'K2']
) 

df6 = pd.DataFrame({
    'C': ['C0', 'C1', 'C2'],
    'D': ['D0', 'D1', 'D2']
  }, 
  index = ['K0', 'K2', 'K3']
)

print(df5)
print(df6)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
     C   D
K0  C0  D0
K2  C1  D1
K3  C2  D2

In [34]:
joined = df5.join(df6, how='inner')
print(joined)

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1